@charset "UTF-8";
/* fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700,800,400italic,300);
.domain-search-form .domain-search, .domain-search-form select[class^=domain-], .signup-newsletter-form input, .leave-comment-form input, .leave-comment-form textarea, .support-form input, .contact-us-form input, .contact-us-form textarea { height: 55px; margin-right: 25px; line-height: 55px; background-color: #fff; outline: none; color: #a0a9b6; padding: 0 20px; border: 1px solid #e1e9f2; }

.big-bottom-space { margin-bottom: 3rem; }

.bottom-space { margin-bottom: 1.5rem; }

.small-bottom-space { margin-bottom: 10px; }

.two-col-list { columns: 2; -webkit-columns: 2; -moz-columns: 2; }

.list-with-icon { list-style-type: none; margin: 0; padding: 0; }
.list-with-icon li { margin-bottom: 15px; }
.list-with-icon li:before { content: '\f054'; font-family: "FontAwesome"; margin-right: 16px; }

.list-with-small-icon { margin: 0; list-style-type: none; margin-bottom: 20px; }
.list-with-small-icon li { margin-top: 15px; }
.list-with-small-icon li:before { content: '\f054'; font-family: "FontAwesome"; font-size: 10px; color: #ff8261; display: inline-block; margin-right: 10px; }

.main-section { padding: 5.25rem 0; }

.bg-light-sky { background-color: #e7f4f8; }

.num-box { background-color: #ff8261; text-align: center; font-size: 30px; font-weight: 800; color: #fff; padding: 10px; max-width: 70px; }

.space-right-left { padding-left: 15px; margin-left: 15px; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

*, *:after, *:before { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

img { max-width: 100%; }

html, input, button, body { color: #8d9198; font-family: "Open Sans", Helvetica, Arial, sans-serif; font: 13.5px/1.5em "Open Sans", Helvetica, Arial, sans-serif; line-height: 1.5rem; font-weight: 400; }

p { margin-bottom: 1.5rem; color: #a0a9b6; }

a { text-decoration: none; }

a, a:visited { color: #9ba4b0; }
a:hover, a:visited:hover { color: #484e57; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 1em; line-height: 1.5em; color: #556b72; }

h5, h6 { text-transform: uppercase; letter-spacing: 1px; }

h1 { font-size: 40px; }

h2 { font-size: 30px; text-transform: uppercase; }

h3 { font-size: 18px; text-transform: uppercase; }

h4 { font-size: 16px; text-transform: uppercase; }

h5 { font-size: 14px; text-transform: uppercase; }

h6, small { font-size: 12px; }

ul, ol { margin: 0 0 1.5rem 1.5rem; }

blockquote { font-style: italic; padding: 30px 40px; width: 100%; background-color: transparent; border: 1px solid #e1e9f2; margin-top: 30px; position: relative; }
blockquote:before { content: '“'; position: absolute; top: 0; left: 10px; font-family: Georgia, serif; font-weight: 700; font-size: 48px; color: #556b72; }

.main-title { padding: 0; text-transform: uppercase; font-weight: 800; position: relative; margin-top: 10px; }
.main-title span { display: block; font-size: 18px; font-weight: 400; line-height: 1em; color: #859aa1; }
.main-title:before { content: ""; display: inline-block; width: 21px; height: 2px; background: #ff8261; margin-bottom: 12px; position: absolute; top: -10px; }

.small-titlel { position: relative; margin-top: 20px; }
.small-titlel:before { content: ""; width: 20px; height: 2px; display: inline-block; background: #ff8261; position: absolute; top: -5px; }
.small-titlel span { font-weight: normal; display: block; }

.search-your-domain .main-title { margin: 0; }
.search-your-domain .main-title:before { content: "\f002"; font-family: "FontAwesome"; color: #ff8261; width: 0; height: 0; top: -40px; }

.signup-newsletter .main-title { margin: 0; }
.signup-newsletter .main-title:before { content: "\f003"; font-family: "FontAwesome"; color: #ff8261; width: 0; height: 0; top: -40px; }

.leave-comment .main-title { margin: 0; }
.leave-comment .main-title:before { content: "\f0e6"; font-family: "FontAwesome"; color: #ff8261; width: 0; height: 0; top: -45px; }

@media (max-width: 768px) { .search-your-domain .main-title { margin-bottom: 20px; } }
@-ms-viewport { width: device-width; }
.visible-xs, .visible-sm, .visible-md, .visible-lg { display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block { display: none !important; }

@media (max-width: 767px) { .visible-xs { display: block !important; }
  table.visible-xs { display: table; }
  tr.visible-xs { display: table-row !important; }
  th.visible-xs, td.visible-xs { display: table-cell !important; } }
@media (max-width: 767px) { .visible-xs-block { display: block !important; } }
@media (max-width: 767px) { .visible-xs-inline { display: inline !important; } }
@media (max-width: 767px) { .visible-xs-inline-block { display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm { display: block !important; }
  table.visible-sm { display: table; }
  tr.visible-sm { display: table-row !important; }
  th.visible-sm, td.visible-sm { display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm-block { display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline { display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline-block { display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md { display: block !important; }
  table.visible-md { display: table; }
  tr.visible-md { display: table-row !important; }
  th.visible-md, td.visible-md { display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md-block { display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline { display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline-block { display: inline-block !important; } }
@media (min-width: 1200px) { .visible-lg { display: block !important; }
  table.visible-lg { display: table; }
  tr.visible-lg { display: table-row !important; }
  th.visible-lg, td.visible-lg { display: table-cell !important; } }
@media (min-width: 1200px) { .visible-lg-block { display: block !important; } }
@media (min-width: 1200px) { .visible-lg-inline { display: inline !important; } }
@media (min-width: 1200px) { .visible-lg-inline-block { display: inline-block !important; } }
@media (max-width: 767px) { .hidden-xs { display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) { .hidden-sm { display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .hidden-md { display: none !important; } }
@media (min-width: 1200px) { .hidden-lg { display: none !important; } }
.visible-print { display: none !important; }

@media print { .visible-print { display: block !important; }
  table.visible-print { display: table; }
  tr.visible-print { display: table-row !important; }
  th.visible-print, td.visible-print { display: table-cell !important; } }
.visible-print-block { display: none !important; }

@media print { .visible-print-block { display: block !important; } }
.visible-print-inline { display: none !important; }

@media print { .visible-print-inline { display: inline !important; } }
.visible-print-inline-block { display: none !important; }

@media print { .visible-print-inline-block { display: inline-block !important; } }
@media print { .hidden-print { display: none !important; } }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }

@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }
.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }

.row { margin-left: -15px; margin-right: -15px; }

.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }

.col-xs-12 { width: 100%; }

.col-xs-11 { width: 91.66666667%; }

.col-xs-10 { width: 83.33333333%; }

.col-xs-9 { width: 75%; }

.col-xs-8 { width: 66.66666667%; }

.col-xs-7 { width: 58.33333333%; }

.col-xs-6 { width: 50%; }

.col-xs-5 { width: 41.66666667%; }

.col-xs-4 { width: 33.33333333%; }

.col-xs-3 { width: 25%; }

.col-xs-2 { width: 16.66666667%; }

.col-xs-1 { width: 8.33333333%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-pull-11 { right: 91.66666667%; }

.col-xs-pull-10 { right: 83.33333333%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-8 { right: 66.66666667%; }

.col-xs-pull-7 { right: 58.33333333%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-5 { right: 41.66666667%; }

.col-xs-pull-4 { right: 33.33333333%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-2 { right: 16.66666667%; }

.col-xs-pull-1 { right: 8.33333333%; }

.col-xs-pull-0 { right: auto; }

.col-xs-push-12 { left: 100%; }

.col-xs-push-11 { left: 91.66666667%; }

.col-xs-push-10 { left: 83.33333333%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-8 { left: 66.66666667%; }

.col-xs-push-7 { left: 58.33333333%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-5 { left: 41.66666667%; }

.col-xs-push-4 { left: 33.33333333%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-2 { left: 16.66666667%; }

.col-xs-push-1 { left: 8.33333333%; }

.col-xs-push-0 { left: auto; }

.col-xs-offset-12 { margin-left: 100%; }

.col-xs-offset-11 { margin-left: 91.66666667%; }

.col-xs-offset-10 { margin-left: 83.33333333%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-8 { margin-left: 66.66666667%; }

.col-xs-offset-7 { margin-left: 58.33333333%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-5 { margin-left: 41.66666667%; }

.col-xs-offset-4 { margin-left: 33.33333333%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-2 { margin-left: 16.66666667%; }

.col-xs-offset-1 { margin-left: 8.33333333%; }

.col-xs-offset-0 { margin-left: 0%; }

@media (min-width: 768px) { .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-7 { width: 58.33333333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-1 { width: 8.33333333%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-pull-11 { right: 91.66666667%; }
  .col-sm-pull-10 { right: 83.33333333%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-8 { right: 66.66666667%; }
  .col-sm-pull-7 { right: 58.33333333%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-5 { right: 41.66666667%; }
  .col-sm-pull-4 { right: 33.33333333%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-2 { right: 16.66666667%; }
  .col-sm-pull-1 { right: 8.33333333%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-push-11 { left: 91.66666667%; }
  .col-sm-push-10 { left: 83.33333333%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-8 { left: 66.66666667%; }
  .col-sm-push-7 { left: 58.33333333%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-5 { left: 41.66666667%; }
  .col-sm-push-4 { left: 33.33333333%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-2 { left: 16.66666667%; }
  .col-sm-push-1 { left: 8.33333333%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-sm-offset-11 { margin-left: 91.66666667%; }
  .col-sm-offset-10 { margin-left: 83.33333333%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-8 { margin-left: 66.66666667%; }
  .col-sm-offset-7 { margin-left: 58.33333333%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-5 { margin-left: 41.66666667%; }
  .col-sm-offset-4 { margin-left: 33.33333333%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-2 { margin-left: 16.66666667%; }
  .col-sm-offset-1 { margin-left: 8.33333333%; }
  .col-sm-offset-0 { margin-left: 0%; } }
@media (min-width: 992px) { .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-7 { width: 58.33333333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66666667%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-1 { width: 8.33333333%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-pull-11 { right: 91.66666667%; }
  .col-md-pull-10 { right: 83.33333333%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-8 { right: 66.66666667%; }
  .col-md-pull-7 { right: 58.33333333%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-5 { right: 41.66666667%; }
  .col-md-pull-4 { right: 33.33333333%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-2 { right: 16.66666667%; }
  .col-md-pull-1 { right: 8.33333333%; }
  .col-md-pull-0 { right: auto; }
  .col-md-push-12 { left: 100%; }
  .col-md-push-11 { left: 91.66666667%; }
  .col-md-push-10 { left: 83.33333333%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-8 { left: 66.66666667%; }
  .col-md-push-7 { left: 58.33333333%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-5 { left: 41.66666667%; }
  .col-md-push-4 { left: 33.33333333%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-2 { left: 16.66666667%; }
  .col-md-push-1 { left: 8.33333333%; }
  .col-md-push-0 { left: auto; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.66666667%; }
  .col-md-offset-10 { margin-left: 83.33333333%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-8 { margin-left: 66.66666667%; }
  .col-md-offset-7 { margin-left: 58.33333333%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-5 { margin-left: 41.66666667%; }
  .col-md-offset-4 { margin-left: 33.33333333%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-2 { margin-left: 16.66666667%; }
  .col-md-offset-1 { margin-left: 8.33333333%; }
  .col-md-offset-0 { margin-left: 0%; } }
@media (min-width: 1200px) { .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66666667%; }
  .col-lg-10 { width: 83.33333333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66666667%; }
  .col-lg-7 { width: 58.33333333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66666667%; }
  .col-lg-4 { width: 33.33333333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.66666667%; }
  .col-lg-1 { width: 8.33333333%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-pull-11 { right: 91.66666667%; }
  .col-lg-pull-10 { right: 83.33333333%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-8 { right: 66.66666667%; }
  .col-lg-pull-7 { right: 58.33333333%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-5 { right: 41.66666667%; }
  .col-lg-pull-4 { right: 33.33333333%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-2 { right: 16.66666667%; }
  .col-lg-pull-1 { right: 8.33333333%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-push-11 { left: 91.66666667%; }
  .col-lg-push-10 { left: 83.33333333%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-8 { left: 66.66666667%; }
  .col-lg-push-7 { left: 58.33333333%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-5 { left: 41.66666667%; }
  .col-lg-push-4 { left: 33.33333333%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-2 { left: 16.66666667%; }
  .col-lg-push-1 { left: 8.33333333%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.66666667%; }
  .col-lg-offset-10 { margin-left: 83.33333333%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-8 { margin-left: 66.66666667%; }
  .col-lg-offset-7 { margin-left: 58.33333333%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-5 { margin-left: 41.66666667%; }
  .col-lg-offset-4 { margin-left: 33.33333333%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-2 { margin-left: 16.66666667%; }
  .col-lg-offset-1 { margin-left: 8.33333333%; }
  .col-lg-offset-0 { margin-left: 0%; } }
.clearfix, .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after { content: " "; display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after { clear: both; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.top-header { margin: 27px 0; }
.top-header .logo { margin: 0; padding: 0; }
.top-header .logo a { display: block; text-indent: -9999px; background: url(../images/logo.png) 0 0 no-repeat; width: 149px; height: 31px; }
.top-header .top-menu { margin: 0; padding: 0; list-style-type: none; border-top: 1px solid #e1e9f2; border-bottom: 1px solid #e1e9f2; padding: 14px 0 14px 80px; }
.top-header .top-menu li { float: left; color: #484e57; }
.top-header .top-menu li:before { content: "|"; padding: 0 18px; }
.top-header .top-menu li:first-child:before { content: ""; padding: 0; }

@media screen and (max-width: 992px) { .top-header .logo a { margin: 0 auto 10px; }
  .top-header .top-menu { margin: 0 auto; float: none !important; padding: 14px 40px; }
  .top-header .top-menu li:before { content: "|"; padding: 0 10px; } }
@media screen and (max-width: 480px) { .top-header .top-menu { display: none; } }
.main-footer { background: #4c515b; padding: 5.25rem 0; }
.main-footer a { color: #909aad; }
.main-footer a:hover { color: #d9dde3; }
.main-footer h4 { color: #fff; text-transform: uppercase; }

.footer-list { margin: 0; list-style-type: none; }
.footer-list li { margin-bottom: 5px; }
.footer-list li span { color: #fff; }

.list-two-cols { columns: 2; -webkit-columns: 2; -moz-columns: 2; }

.copyright small, .copyright span { display: block; margin-top: 5px; }
.copyright small { margin-left: 60px; font-size: 14px; }

.footer-social-list { margin: 0; list-style-type: none; }
.footer-social-list li { display: inline-block; margin-left: 10px; font-size: 24px; }
.footer-social-list li:first-child { margin-left: 0; }

@media (max-width: 992px) { .footer-social-list li { margin-left: 12px; }
  .main-footer .container div[class^=col-] { margin-bottom: 30px; } }
.btn, .btn-block, .cta-button, .small-btn, .btn:visited, .btn-block:visited, .cta-button:visited, .small-btn:visited { display: inline-block; background-color: #ff8261; border: none; color: #fff; font-size: 14px; font-weight: bold; text-transform: uppercase; height: 55px; line-height: 55px; min-width: 132px; outline: none; white-space: nowrap; text-align: center; }

.btn:hover, .btn-block:hover, .cta-button:hover, .small-btn:hover { background-color: #ff724d; color: #fff !important; }

.btn-block { display: block; width: 100%; }

.cta-button { height: 43px; padding: 0 30px; line-height: 43px; }

.small-btn { text-transform: none; height: 35px; min-width: 95px; line-height: 35px; font-weight: 300; }

.domain-search-form .domain-search { width: 400px; }
.domain-search-form select[class^=domain-] { position: relative; -ms-appearance: none; -moz-appearance: none; -webkit-appearance: none; background: #fff url("../images/dropdown_arrow.png") no-repeat; padding-right: 40px; }
.domain-search-form select[class^=domain-].domain-years { background-position: 140px center; }
.domain-search-form select[class^=domain-].domain-type { background-position: 70px center; }
.domain-search-form select[class^=domain-]::-ms-expand { display: none; opacity: 0; }

.signup-newsletter-form input { width: 75%; margin-right: 0; display: block; float: left; height: 57px; line-height: 57px; }
.signup-newsletter-form .btn, .signup-newsletter-form .btn-block, .signup-newsletter-form .cta-button, .signup-newsletter-form .small-btn { width: 25%; display: block; float: left; }

.leave-comment-form input, .leave-comment-form textarea { width: 100%; margin-right: 0; display: block; height: 57px; line-height: 57px; margin-bottom: 10px; border: none; }
.leave-comment-form textarea { height: 185px; line-height: 20px; padding: 20px; max-width: 100%; }
.leave-comment-form .btn, .leave-comment-form .btn-block, .leave-comment-form .cta-button, .leave-comment-form .small-btn { display: block; float: right; }

.support-form input { margin-right: 0; width: 85%; display: block; float: left; position: relative; padding-left: 50px; }
.support-form .btn, .support-form .btn-block, .support-form .cta-button, .support-form .small-btn { width: 15%; margin-right: 0; min-width: 15%; }
.support-form .support-form-icone { width: 17px; height: 18px; color: #ff8261; font-size: 18px; position: absolute; left: 35px; top: 18px; z-index: 99999; }

.contact-us-form input, .contact-us-form textarea { margin-right: 0; width: 100%; display: block; margin-bottom: 10px; }
.contact-us-form textarea { height: 185px; line-height: 20px; padding: 20px; max-width: 100%; }
.contact-us-form .btn, .contact-us-form .btn-block, .contact-us-form .cta-button, .contact-us-form .small-btn { float: right; }

@media (max-width: 1200px) { .domain-search-form .domain-search { width: 330px; margin-right: 10px; }
  .domain-search-form select[class^=domain-] { margin-right: 10px; } }
@media (max-width: 992px) { .domain-search-form .domain-search { width: 270px; } }
@media (max-width: 768px) { .domain-search-form .domain-search { width: 100%; margin-bottom: 10px; }
  .domain-search-form select[class^=domain-] { width: 100%; margin-bottom: 10px; }
  .domain-search-form select[class^=domain-].domain-years, .domain-search-form select[class^=domain-].domain-type { background-position: 95% center; }
  .domain-search-form .btn, .domain-search-form .btn-block, .domain-search-form .cta-button, .domain-search-form .small-btn { width: 100%; }
  .signup-newsletter-form input { width: 100%; margin-bottom: 10px; }
  .signup-newsletter-form .btn, .signup-newsletter-form .btn-block, .signup-newsletter-form .cta-button, .signup-newsletter-form .small-btn { width: 100%; }
  .support-form input { width: 100%; }
  .support-form .btn, .support-form .btn-block, .support-form .cta-button, .support-form .small-btn { width: 100%; } }
.slider { position: relative; }
.slider .slide-item { max-width: 100%; width: 1970px; height: 570px; background-color: #222836; position: relative; }
.slider .slide-item h2, .slider .slide-item h4 { text-transform: uppercase; color: #fff; text-align: center; }
.slider .slide-item h2 { font-size: 40px; margin-top: 250px; margin-bottom: 10px; line-height: 100%; }
.slider .slide-item h4 { font-weight: 300; font-size: 20px; }
.slider .prev-control, .slider .next-control { position: absolute; top: 50%; margin-top: -30px; font-size: 24px; color: #fff; z-index: 99999; width: 50px; height: 50px; line-height: 50px; border: 1px solid #fff; text-align: center; cursor: pointer; border-radius: 50%; }
.slider .prev-control:hover, .slider .next-control:hover { color: #cccccc; }
.slider .prev-control { left: 30px; }
.slider .next-control { right: 30px; }
.slider .slider-pager { position: absolute; bottom: 60px; z-index: 99999; left: 50%; margin-left: -27.5px; }
.slider .slider-pager span { width: 15px; height: 15px; display: inline-block; border-radius: 50%; background-color: transparent; border: 2px solid #ff8261; margin-left: 5px; cursor: pointer; }
.slider .slider-pager span:first-child { margin-left: 0; }
.slider .slider-pager .cycle-pager-active { border: 2px solid #52cbf8; }

.slider .slide-item.slide-1 { background-color: #414f6e; }

.slider .slide-item.slide-2 { background-color: #222836; }

.slider .slide-item.slide-3 { background-color: #0e182e; }

.main-menu { background-color: #ff8261; width: 100%; }
.main-menu ul { margin: 0; padding: 0; list-style-type: none; }
.main-menu li { display: block; float: left; width: 10%; }
.main-menu a { color: #fff; display: block; white-space: nowrap; padding: 20px 0; text-align: center; }
.main-menu a:hover { background-color: #52cbf8; color: #fff; }
.main-menu .active a { background-color: #52cbf8; }

.mobil-menu-btn { background: #52cbf8; border: none; padding: 0 15px; float: right; cursor: pointer; display: none; outline: none; width: 100%; color: #fff; text-transform: uppercase; font-size: 20px; line-height: 54px; }
.mobil-menu-btn:hover { background-color: #21bcf6; }
.mobil-menu-btn i { margin-left: 10px; color: #fff; font-size: 20px; }

@media screen and (max-width: 992px) { .mobile-menu { display: none; }
  .mobile-menu li { display: block; width: 100%; }
  .mobile-menu .active a { background-color: #ff8261; }
  .mobile-menu a { padding: 10px 0; }
  .mobile-menu a:hover { background-color: #ff724d; }
  .mobil-menu-btn { display: block; } }
.our-benefits { background: #fff; }
.our-benefits .benefit-item { display: table; }
.our-benefits .benefit-item i { color: #ff8261; font-size: 60px; display: table-cell; width: 90px; vertical-align: top; padding-right: 1.5rem; }
.our-benefits .benefit-item div { display: table-cell; vertical-align: top; }
.our-benefits .benefit-item div p { margin-bottom: 0; }

.hot-offers { background: #fffbde; }
.hot-offers .btn-block { margin-top: 180px; }

.hot-offers-box { position: relative; width: 100%; max-width: 360px; background: #fff; outline: 8px solid #fff; border: 2px solid #fffbde; padding: 25px 20px; overflow: hidden; }
.hot-offers-box h3 { margin: 0 20px 0 0; padding: 0; color: #ff8261; font-size: 48px; line-height: 48px; float: left; }
.hot-offers-box h3 span { display: block; font-size: 14px; color: #97947f; line-height: 14px; }
.hot-offers-box h3 a { color: #52cbf8; }
.hot-offers-box h4 { text-transform: uppercase; font-size: 17px; line-height: 17px; margin: 15px 0 0; padding: 0; float: left; }
.hot-offers-box h4 span { font-size: 14px; display: block; font-weight: 400; }

.pricing-table { margin: 0; padding: 1.5rem; list-style-type: none; background-color: #FFF; border: 1px solid #e1e9f2; }
.pricing-table li { text-align: center; border-bottom: 1px solid #e1e9f2; margin-bottom: 12px; padding-bottom: 12px; }
.pricing-table .price { border-bottom: none; color: #556b72; text-transform: uppercase; }
.pricing-table .price span { font-size: 50px; display: block; line-height: 100%; }
.pricing-table .price span strong { font-weight: 800; }
.pricing-table .title { text-transform: uppercase; letter-spacing: 1px; font-weight: 800; background-color: #52cbf8; font-size: 14px; color: #fff; height: 45px; line-height: 45px; margin: 0 25px 22px; }
.pricing-table li:last-child, .pricing-table li:nth-last-of-type(2) { border: none; }
.pricing-table li:last-child { margin-bottom: 0; padding-bottom: 0; }

.signup-newsletter { background: #e7f4f8; }

@media (max-width: 992px) { .pricing-table { margin-top: 20px; }
  .pricing-table .title { margin: 0 0 22px; }
  .our-benefits .benefit-item { margin-bottom: 20px; display: block; }
  .bottom-space { margin-bottom: 0; }
  .hot-offers .col-md-4 { margin-bottom: 50px; }
  .hot-offers .btn-block { margin-top: 20px; } }
.page-banner { background: #222836; width: 100%; height: 260px; position: relative; }
.page-banner h1 { color: #fff; line-height: 100%; text-transform: uppercase; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.page-banner h1 span { line-height: 100%; display: block; font-weight: 300; font-size: 20px; }

.our-offers { background-color: #e7f4f8; }

.team-item { max-width: 291px; overflow: hidden; }
.team-item img { margin-bottom: 1.5rem; }
.team-item h4 { line-height: 100%; font-size: 14px; float: left; max-width: 50%; margin-bottom: 0; }
.team-item h4 span { display: block; font-weight: 300; font-size: 13px; }
.team-item ul { margin: 0; list-style-type: none; float: right; }
.team-item ul li { float: left; display: inline-block; width: 32px; height: 32px; line-height: 32px; text-align: center; border: 1px solid #e1e9f2; margin-left: 5px; font-size: 16px; }
.team-item ul li:first-child { margin-left: 0; }
.team-item ul li a { display: block; }

@media screen and (max-width: 992px) { .team-item { margin-bottom: 1.5rem; }
  .offer-item { margin-bottom: 3rem; }
  .offer-img { margin-bottom: 1.5rem; } }
.hosting-services .col-md-4 .img-box { height: 40px; margin-bottom: 10px; }

.featured-services { background-color: #e7f4f8; }

.latest-newes { margin: 0; list-style-type: none; display: table; }
.latest-newes li { margin-top: 20px; }
.latest-newes li:first-child { margin-top: 0; }
.latest-newes .date-block { float: left; width: 100px; height: 100px; background-color: #ff8261; border-radius: 50%; text-align: center; padding: 10px; font-size: 14px; display: table-cell; margin-right: 10px; }
.latest-newes .date-block div { border: 2px dotted rgba(255, 255, 255, 0.5); border-radius: 50%; width: 100%; height: 100%; }
.latest-newes .date-block h5 { color: #fff; margin-top: 10px; }
.latest-newes .date-block h5 span { font-weight: normal; display: block; }
.latest-newes .info-block { display: table-cell; }
.latest-newes .info-block p { font-size: 13px; }

.our-clients { overflow: hidden; }

.clients-slideshow .client-info { margin-top: 20px; }
.clients-slideshow .client-info p { font-style: italic; font-size: 14px; }
.clients-slideshow .client-info h5 { line-height: 100%; }
.clients-slideshow .client-info h5 span { font-weight: 300; display: block; }

.clients-pager { position: absolute; right: 0; top: 0; margin-top: -50px; }
.clients-pager span { width: 15px; height: 15px; border-radius: 50%; margin-left: 5px; background-color: transparent; border: 2px solid #e1e9f2; display: inline-block; cursor: pointer; }
.clients-pager span.cycle-pager-active { border: 2px solid #60cff9; }

@media (max-width: 768px) { .clients-slideshow { text-align: center; } }
.border-table { width: 100%; color: #556b72; text-align: center; font-size: 30px; }
.border-table tr { border: 1px solid #e1e9f2; line-height: 100%; }
.border-table td { padding: 10px 0; }
.border-table td span { display: block; font-size: 14px; }
.border-table td strong { font-weight: 800; }

.new-domain-list { margin: 0; list-style-type: none; }
.new-domain-list li { border-top: 1px solid #e1e9f2; padding: 7px 0; position: relative; line-height: 35px; }
.new-domain-list li:first-child { border-top: none; }
.new-domain-list .small-btn { position: absolute; right: 0; }

.questions-form input, .questions-form textarea { width: 100%; outline: none; padding: 10px; max-width: 100%; }

.questions-title { border-bottom: 1px solid #e1e9f2; margin-bottom: 3rem; }
.questions-title h5 { text-align: center; background-color: #ff8261; color: #fff; padding: 5px 0; font-weight: 600; width: 50%; margin: 50px auto; }

@media screen and (max-width: 992px) { input, textarea { margin-bottom: 10px; }
  .questions-form .small-bottom-space { margin-bottom: 0; }
  .num-box { margin-bottom: 10px; } }
.clients-testimonial-item { width: 100%; padding: 35px; border: 1px solid #e1e9f2; position: relative; margin: 20px 0; }
.clients-testimonial-item .box-icone { position: absolute; color: #ff8261; display: inline-block; font-size: 24px; width: 54px; height: 46px; line-height: 46px; background: #fff; text-align: center; border: 1px solid #e1e9f2; top: -20px; }

.user-with-img .user-img-box { float: left; margin-right: 10px; }
.user-with-img h5 { line-height: 100%; padding-top: 10px; }
.user-with-img h5 span { display: block; font-weight: 400; }

@media only screen and (max-width: 992px) { .clients-testimonial-item { margin-bottom: 40px; } }
.leave-comment { overflow: hidden; }

.blog-item { margin-bottom: 3rem; }
.blog-item .blog-img, .blog-item .blog-title, .blog-item .blog-article, .blog-item .blog-more-btn, .blog-item .blog-info { margin-bottom: 1.5rem; }
.blog-item .blog-title-list, .blog-item .blog-info-list { margin: 0; list-style-type: none; }
.blog-item .blog-title-list li, .blog-item .blog-info-list li { display: inline-block; }
.blog-item .blog-title-list li:before, .blog-item .blog-info-list li:before { content: '|'; display: inline-block; margin: 0 10px; }
.blog-item .blog-title-list li:first-child:before, .blog-item .blog-info-list li:first-child:before { content: ''; display: none; }
.blog-item .blog-info { border-top: 1px solid #e1e9f2; border-bottom: 1px solid #e1e9f2; }
.blog-item .blog-info-list { line-height: 50px; height: 50px; }
.blog-item .blog-info-icone { font-style: normal; font-size: 12.5px; background: #ff8261; color: #fff; height: 28px; width: 28px; line-height: 28px; text-align: center; display: inline-block; border-radius: 50%; margin-right: 5px; }
.blog-item li .blog-info-icone ~ a { display: inline-block; margin-left: 10px; }
.blog-item .blog-user-info { background-color: #e7f4f8; overflow: hidden; padding: 40px 30px; }
.blog-item .blog-user-info p { margin-bottom: 0; }
.blog-item .blog-user-info a { color: #556b72; }
.blog-item .blog-user-info a:hover { color: #3f5055; }

.blog-pager { margin: 0; list-style-type: none; }
.blog-pager li { display: inline-block; font-size: 18px; font-weight: 600; width: 40px; height: 40px; line-height: 40px; text-align: center; border: 1px solid #e1e9f2; margin-left: 5px; -webkit-transition: background-color 0.5s ease-in-out; transition: background-color 0.5s ease-in-out; }
.blog-pager li:first-child { margin-left: 0; }
.blog-pager li a { display: block; color: #484e57; }
.blog-pager li:hover, .blog-pager li.active { background-color: #ff8261; }
.blog-pager li:hover a, .blog-pager li.active a { color: #fff; }

.user-comments { list-style-type: none; margin: 0; }
.user-comments li { border-top: 1px solid #e1e9f2; padding-top: 30px; margin-bottom: 40px; position: relative; clear: both; }
.user-comments li:first-child { border-top: none; }
.user-comments li .avatar { width: 120px; min-width: 120px; float: left; margin-right: 20px; }
.user-comments li .reply-btn { position: absolute; right: 0; top: 30px; }
.user-comments li .comments h5 { margin-bottom: 0; }
.user-comments li .comments .dat-details { margin-bottom: 20px; display: inline-block; }
.user-comments li ul li:first-child { border-top: 1px solid #e1e9f2; }
.user-comments .reply-list { width: 90%; overflow: hidden; float: right; }

@media only screen and (max-width: 480px) { .blog-item .blog-info-list { text-align: center; }
  .blog-item .blog-info-list li:last-child { display: none; }
  .blog-item .blog-user-info img { display: none; }
  .user-comments li .avatar { display: none; } }
@media only screen and (max-width: 768px) { .blog-pager { text-align: center; } }
.onlin-suppoort-box { text-align: center; }
.onlin-suppoort-box .btn, .onlin-suppoort-box .btn-block, .onlin-suppoort-box .cta-button, .onlin-suppoort-box .small-btn { width: 25%; }

.list-with-thmb { list-style-type: none; margin: 0; overflow: hidden; margin-bottom: 10px; }
.list-with-thmb li { clear: both; margin-top: 20px; min-height: 65px; }
.list-with-thmb li:first-child { margin-top: 0; }
.list-with-thmb .thumb { float: left; margin-right: 20px; }

@media (max-width: 768px) { .onlin-suppoort-box .btn, .onlin-suppoort-box .btn-block, .onlin-suppoort-box .cta-button, .onlin-suppoort-box .small-btn { width: 50%; } }
.map { width: 100%; height: 400px; text-transform: uppercase; }
.map strong { color: #ff8261; font-size: 16px; margin: 10px 0; display: block; }
